<div id="<%= dom_id folder %>">
  <p>
    <strong>Name:</strong>
    <%= folder.name %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= folder.company_id %>
  </p>

  <p>
    <strong>Parent folder:</strong>
    <%= folder.parent_folder_id %>
  </p>

</div>
