<div id="web-companies-index" class="d-flex flex-wrap justify-content-center justify-content-sm-start gap-4">
  <% @web_companies.each do |web_company| %>
    <%= render web_company %>
  <% end %>
</div>