<div id="<%= dom_id web_company %>">
  <p>
    <strong>Name:</strong>
    <%= web_company.name %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= web_company.logo %>
  </p>

  <p>
    <strong>Web company type:</strong>
    <%= web_company.web_company_type %>
  </p>

</div>
