<div class="d-flex justify-content-between align-items-center mb-8 gap-8">
  <%= render "components/ransack",
    search: :name_cont,
    search_placeholder: "Buscar webs",
    ransack_path: ransack_web_companies_path
  %>
  <%= link_to new_web_company_path, class: "btn btn-success btn-sm w-225px" do %>
    <i class="fa fa-plus"></i> Nueva compañía web
  <% end %>
</div>

<%= render "web_companies/index" %>