<div class="mb-8">
  <% if @web_company.logo? %>
    <%= image_tag @web_company.logo.url, class: "w-300px" %>
  <% else %>
    <div class="w-300px h-100px bg-gray-200 rounded border border-gray-300 d-flex justify-content-center align-items-center">
      <em class="text-muted">Sin logo</em>
    </div>
  <% end %>
</div>

<div class="card card-body w-100 w-xl-50">
  <%= render "webs/index", web_company: @web_company, webs: @web_company.webs.accessible_by(current_ability) %>
</div>

<div class="flex items-center justify-start mt-4 mb-8">
  <%= link_to "← Atrás", web_companies_path, class: "me-1" %>
  <% if can? :manage, @web_company  %>
    | <%= link_to "Editar", edit_web_company_path(@web_company), class: "ms-1" %>
  <% end %>
</div>