<!-- lib/templates/erb/scaffold/edit.html.erb.tt -->
<%= render 'form', emergency_contact: @emergency_contact %>
<br>

<div>
  <%= link_to "Show", @emergency_contact %>  |
  <%= link_to 'Back', emergency_contacts_path %>
</div>