<div class="d-flex justify-content-between align-items-center mb-8 gap-8">
  <%= render "components/ransack",
    search: :name_cont,
    search_placeholder: "Buscar etiquetas",
    ransack_path: ransack_tags_path
  %>
  <%= link_to new_tag_path, class: "btn btn-success btn-sm w-200px" do %>
    <i class="fa fa-plus"></i> Nueva etiqueta
  <% end %>
</div>

<%= render "tags/index" %>
