<div id="subscriptions-index" class="d-flex flex-wrap justify-content-center justify-content-sm-start gap-4">
  <% @subscriptions.each do |subscription| %>
    <%= render subscription %>
  <% end %>
</div>