/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .fouc { display:none; }

 *:not(i),
*:not(i)::before,
*:not(i)::after  {
  font-family: Montserrat;
}

.card {
  border: 1px solid #ECECEC !important
}

.btn-sinkroniza {
  color: #fff;
  background-color: #4E94BD;
  border-color: #4E94BD;
}

.btn-sinkroniza:hover {
  color: #fff;
  background-color: #346791;
  border-color: #346791;
}

.btn-sinkroniza:focus,
.btn-sinkroniza.focus {
  box-shadow: 0 0 0 0.25rem rgba(85, 96, 100, 0.5);
}

.table > tbody {
  vertical-align: middle;
}

.footer {
  position: fixed;
  bottom: 0;
}

.toast {
  position: fixed !important;
  bottom: 68px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1080; /* above most elements, below modals */
  padding: 0 16px;
  font-size: 14px;
}

.digg_pagination {
   display: flex;
   flex-direction: row;
   align-items: center;
   background: transparent;
   cursor: default;
   height: 35px;
   margin-bottom: 15px;
   border-radius: 5px;
 
   /* self-clearing method: */ }
   .digg_pagination a, .digg_pagination span, .digg_pagination em {
     padding: 0.2em 0.5em;
     display: block;
     float: left;
     margin-right: 1px; 
     border-radius: 5px;
   }
   .digg_pagination .disabled {
     color: #999999;
     border: 1px solid #dddddd; }
   .digg_pagination .current {
     font-style: normal;
     font-weight: bold;
     background: #2e6ab1;
     color: white;
     border: 1px solid #2e6ab1; }
   .digg_pagination a {
     text-decoration: none;
     color: #105cb6;
     border: 1px solid #9aafe5; }
     .digg_pagination a:hover, .digg_pagination a:focus {
       color: #000033;
       border-color: #000033; }
   .digg_pagination .page_info {
     background: #2e6ab1;
     color: white;
     padding: 0.4em 0.6em;
     width: 22em;
     margin-bottom: 0.3em;
     text-align: center; }
     .digg_pagination .page_info b {
       color: #000033;
       background: #6aa6ed;
       padding: 0.1em 0.25em; }
   .digg_pagination:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden; }
   * html .digg_pagination {
     height: 1%; }
   *:first-child + html .digg_pagination {
     overflow: hidden; }